<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="/">strona glowna</a>
    <a href="/kontakt">kontakt</a>
    <a href="/oferta">oferta</a>
    <a href="/o-nas">o nas</a>
</nav>
<h1>Kontakt</h1>
<form action="" method="post">
    <label for="name">imie</label><input type="text" name="name" id="name">
    <label for="lName">nazwisko</label><input type="text" name="lName" id="lName">
    <label for="mail">email</label><input type="email" name="mail" id="mail">
    <label>
        Pole tekstowe
        <textarea></textarea>
    </label>
</form>
<footer>Mariusz Rychlik 4C</footer>
</body>
</html>